


p{
    margin: 0;
}




.container{
    margin-left: 15%;
    margin-right: 15%; 
}
.mainDivForm{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 8%;
    padding-top: 10%;
}
.mainDiv1P{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
    margin: 0;
}
.mainDivFormLabel{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color:blue;

}
.mainDivFormLabelError{
    padding-top: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: bold;
    color:#ee6454;
    display: inline-block;
    height: 25px;
}
.mainDivFormLabelOk{
    padding-top: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #2ECC71;
    display: inline-block;
    height: 25px;
}
.mainDivFormInput{
    color: white;
    margin-top: 3%;
    font-size: 15px;
    width: 320px;
    padding: 5px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #2ECC71;
}
.mainDivFormA{
    text-decoration: none;
    padding-left: 5px;
    color: #A569BD;
}
.mainDivFormButton{
    /*margin-top: 7%;
    margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 20px;
    font-weight: bold;
    background-color:  #14aa05  ;
    border: none;
    color: black;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:140px;
    margin-left: 80px;
}
.mainDivFormButton:hover{
    background-color:   #9ccb11 ;   
  
}

.mainDivFormButtonLogin{
    /*margin-top: 7%;
    margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 15px;
    font-weight: bold;
    background-color:  #29aa05  ;
    border: none;
    color:white;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:248px;
    
    
}
.mainDivFormButtonLogin:hover{
    background-color:   #9ccb11 ;   
  
}

.mainDivFormButtonBack{
    /*margin-top: 7%;
    margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 15px;
    font-weight: bold;
    background-color:#928b03;
    border: none;
    color: black;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:240px;
    
    
}
.mainDivFormButtonBack:hover{
    background-color: #d5f5e3;
   
  
}


.mainDivFormAdd{
    margin-top: 3%;
    margin-bottom: 20%;
    margin-left: 21%;
    font-size: 20px;
    background-color: #3498DB ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}
.mainDivFormRemove{
    margin-top: 8%;
    margin-bottom: 40%;
    margin-left: 13.5%;
    font-size: 20px;
    background-color: #E20505 ;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
}
.mainDivFormRememerMe{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.header{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
.footer{
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}


  .mainDivFormButtonSignup{
    margin-top: 7%;
    /* margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 15px;
    background-color:blue ;
    border: none;
    color: white;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:240px;
}
.mainDivFormButtonSignup:hover{
    background-color:#68b3fe;
}

.mainDivFormButtonSearchTrain{
   
    /* margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 21px;
    background-color:blue ;
    border: none;
    color: white;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:130px;
    margin-left: 75px;
}
.mainDivFormButtonSearchTrain:hover{
    background-color:  #8a03c1  ;
}

.demo{
    
    /* margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 23px;
    margin-left: 30px;
   
    color:#fc02cf;
    /* padding: 15px 22px; */
    text-decoration: none;
}

.mainDivFormButtonRemoveTrain{
    /*margin-top: 7%;
    margin-bottom: 40%;
    margin-left: 2px; */
    font-size: 20px;
    font-weight: bold;
    background-color: #dc190f;
    border: none;
    color:white;
    /* padding: 15px 22px; */
    text-decoration: none;
    width:130px;
    margin-left: 80px;
}
.mainDivFormButtonRemoveTrain:hover{
    background-color: #bf0000 ;   
  
}







